# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.venv/

# Environment variables (IMPORTANT)
.env

# IDE
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Secrets (Firebase etc.)
hamrah-notification-2a315-firebase-adminsdk-*.json